<div
    class="flex flex-col justify-end mx-auto gap-2 border border-tertiary rounded-md h-full sm:max-w-md bg-selection p-1">
    <div class="overflow-y-auto sm:scrollbar-thin scrollbar-track-bgB scrollbar-thumb-tertiary rounded-md">
        <div *ngFor="let entry of forum">
            <div (click)="selectedMessageT = entry.timestamp"
                [ngClass]="{'ml-auto bg-bgA': entry.name === globals.account.name, 'text-danger': entry.priority >= 2, 'text-warning': entry.priority === 1, 'text-secondary': entry.priority <= 0}"
                class="flex flex-col gap-1 my-2 mr-2 p-2 rounded-md shadow-md shadow-bgB bg-bgB w-fit">
                <div *ngIf="entry.name !== globals.account.name" class="text-sm opacity-80">{{entry.name}}
                </div>
                <div class="">{{entry.message}}</div>
                <div class="text-xs opacity-60 text-right">{{entry.datetime}}</div>
            </div>

        </div>
    </div>
    <div class="self-end w-full p-1">
        <textarea class="text-textA placeholder:text-tertiary rounded-md w-full bg-bgA p-1" [(ngModel)]="InputMessage"
            type="text" placeholder="neue Nachricht...">
            </textarea>
        <div class="flex">
            <svg [ngClass]="{'stroke-tertiary':InputPriority === 0, 'stroke-warning':InputPriority === 1, 'stroke-danger':InputPriority === 2}"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-5 h-5 stroke-2">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
            </svg>

            <input type="range" min="0" max="2" value="0" step="1" orient="vertical" [(ngModel)]="InputPriority"
                class="accent-bgA">
            <div class="grow"></div>

            <div  [ngClass]="{'opacity-100':loading, 'opacity-0':!loading}"
                class="spinner-border animate-spin text-primary w-5 h-5 border-4 rounded-full mr-2 transition-opacity duration-300">
            </div>

            <button (click)="onSendMessage()" [disabled]="globals.forumUrl === '' || InputMessage === ''"
                class="border rounded-md px-1 bg-tertiary text-sm text-textB hover:bg-secondary active:bg-secondary disabled:brightness-50">Senden
            </button>
        </div>
    </div>
</div>