<div class="h-full w-full p-2">
    <div *ngIf="globals.account.mainCode === '';else loggedInAsRoot">
        <div class="flex flex-col items-center mt-8">
            <input class="text-textB max-w-full rounded-sm w-64" [(ngModel)]="codeInput" type="text"
                placeholder="Key...">
            <button
                class="flex rounded-sm px-1 mt-4 w-fit select-all bg-selection transition-colors active:bg-primary disabled:saturate-0 disabled:brightness-50"
                (mouseup)=" onSendCode()">Send
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 h-6 fill-current">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" />
                </svg>
            </button>
        </div>
    </div>
    <ng-template #loggedInAsRoot>

        <div class="flex flex-col gap-3 h-full">
            <div class="grid grid-cols-2 sm:grid-cols-4 gap-3 text-sm border rounded-md p-2">
                <button
                    [disabled]="globals.account.mainCode === '' || privateInput === false || securityInput === '' || nameInput === ''"
                    (click)="newAccount()"
                    class="border rounded-md p-1 bg-tertiary text-textB hover:bg-secondary active:bg-secondary disabled:brightness-50">neuer
                    Account</button>
                <button [disabled]="textArea === '' || globals.account.mainCode === ''" (click)="onNew()"
                    class="border rounded-md p-1 bg-tertiary text-textB hover:bg-secondary active:bg-secondary disabled:brightness-50">Neu</button>
                <button [disabled]="selectedFileNumber === -1" (click)="onUpdateFile()"
                    class="border rounded-md p-1 bg-tertiary text-textB hover:bg-secondary active:bg-secondary disabled:brightness-50">Update</button>
                <button [disabled]="selectedFileNumber === -1" (click)="onDeleteFile()"
                    class="border rounded-md p-1 bg-tertiary text-textB hover:bg-secondary active:bg-secondary disabled:brightness-50">Löschen</button>
            </div>
            <div class="flex flex-wrap gap-2">

                <input class="text-textB max-w-full rounded-sm w-64m" [(ngModel)]="securityInput" type="text"
                    placeholder="Security-Key">
                <p> Private: </p>
                <input class="scale-[2.5]" [(ngModel)]="privateInput" type="checkbox">
                <div class="grow"></div>
                <p> Root: </p>
                <input class="scale-[2.5] mr-5" [(ngModel)]="getMainKey" type="checkbox">
                <input class="text-textB max-w-full rounded-sm w-64m" [(ngModel)]="nameInput" type="text"
                    placeholder="Name">

            </div>
            <div class="border rounded-md p-2 h-32 bg-selection break-words overflow-y-auto">
                <div *ngFor="let file of globals.fileURLs; let i = index">
                    <button (click)="onSelectFile(i)"
                        [ngClass]="selectedFileNumber === i ? 'bg-warning text-textB' : 'bg-tertiary text-textA'"
                        class="border rounded-md m-1 px-1">{{i}}_{{file}}</button>
                </div>
            </div>
            <textarea [(ngModel)]="textArea" [disabled]="selectedFileNumber === -1"
                class="select-text bg-bgB h-72"></textarea>
        </div>
    </ng-template>
</div>