<div class="flex flex-col items-center w-full h-full px-4 pt-16 rounded-md">
    <div class="flex max-w-full w-full px-16 py-4 border border-tertiary rounded-md bg-bgB">
        <pre
            class="text-primary whitespace-pre-wrap w-1/2 text-right">{{finishedText | textWrapper:textSideLenght:true}}</pre>
        <pre class="text-danger">{{letter | spaceToLine}}</pre>
        <pre class="whitespace-pre-wrap w-1/2 ">{{futureText | textWrapper:textSideLenght:false}}</pre>
    </div>
    <input type="range" [value]="finishedText.length" [max]="typeText.length" class="accent-primary w-full pointer-events-none opacity-50">
</div>