<div class="flex flex-col items-center w-full h-full px-4 pt-2 rounded-md">
    <div class="flex self-start">
        <input type="checkbox" class="accent-primary scale-150 mx-2" [disabled]="!futureText.length"
            [(ngModel)]="pause">
        <div>Pause</div>
        <div [ngClass]="pause ? 'text-warning':'text-tertiary'" class="flex px-2 ">
            <div [ngClass]="{'hidden':hours === '00'}">{{hours}}:</div>
            <div>{{minutes}}:{{seconds}}</div>
        </div>
    </div>
    <div
        class="flex max-w-full w-full px-16 py-4 border border-tertiary rounded-md bg-gradient-to-r from-bgB via-bgA to-bgB text-2xl font-thin">
        <pre
            class="text-primary whitespace-pre-wrap w-1/2 text-right">{{finishedText | textWrapper:textSideLenght:true}}</pre>
        <pre class="text-danger">{{letter | spaceToLine}}</pre>
        <pre class="whitespace-pre-wrap w-1/2 ">{{futureText | textWrapper:textSideLenght:false}}</pre>
    </div>
    <input type="range" [value]="finishedText.length" [max]="futureText.length + finishedText.length"
        class="accent-primary w-full pointer-events-none opacity-50 mt-4">
    <img src="/assets/Keyboard.png" alt="keyboard" class="m-16 rounded-lg scale-125 brightness-90">

    <textarea [(ngModel)]="futureText" spellcheck="false" [disabled]="!pause" (change)="onNewText()"
        class="bg-bgB w-full grow scrollbar-thin scrollbar-track-bgB scrollbar-thumb-selection text-xs p-1 disabled:hidden disabled:select-none"></textarea>

</div>